infra/n8n/workflows/escalate-oncall.json
{
  "name": "sentinel-escalate_oncall",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentinel-escalate_oncall",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst params = body.parameters || {};\nreturn [{ json: { priority: params.priority || 'P2', summary: `Sentinel: ${body.advisoryId || 'supply-chain-risk'} — ${body.kind}`, details: body } }];"
      },
      "name": "Prepare page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "url": "https://events.pagerduty.com/v2/enqueue",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={ \"routing_key\": \"$env.PAGERDUTY_ROUTING_KEY\", \"event_action\": \"trigger\", \"payload\": { \"summary\": $json.summary, \"severity\": \"critical\", \"source\": \"sentinel\", \"custom_details\": $json.details } }"
      },
      "name": "PagerDuty",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"paged\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare page", "type": "main", "index": 0 }]] },
    "Prepare page": { "main": [[{ "node": "PagerDuty", "type": "main", "index": 0 }]] },
    "PagerDuty": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false
}
